.footer {
    padding: 25px 0;
    background-color: #2C3154;
    &-text {
        font-size: $_18px;
        max-width: 370px;
        margin: 0 auto;
        text-transform: capitalize;
        color: #808080;
        span {
            color: #fff;
        }
    }
}