// ========== size =============
$_12px: 0.75rem;
$_13px: 0.8125rem; 
$_14px: 0.875rem;
$_18px: 1.125rem; 
$_24px: 1.5rem; 
$_30px: 1.875rem; 
$_36px: 2.25rem; 
$_64px: 4rem; 

// ======== colors============
$white: rgba(255, 255, 255, 1);
$whiteOpacity: rgba(255, 255, 255, 80%);
$black: rgba(0, 0, 0, 1);
$orange: rgba(255, 67, 67, 1);
$orangeDeep: rgba(231, 20, 20, 1); 
$grey:rgba(186, 187, 197, 1);
$greyLight: rgba(198, 203, 205, 1);
$greyDeep: rgba(108, 114, 121, 1);
$bgcolor: rgba(229, 229, 229, 1)

